<!-- <<<<!DOCTYPE>>> html> -->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/styles/gridlayout.css'> 
    <title> {{title}} </title>
  </head>
  <body>
    <div class="grid-body">

      <header class="header">
        <div class="header-text">
          <!-- <1!-- Blog title --1> -->
          <h1 class="">Erik </h1>
          <h3 class="">PhD Candidate at KTH</h3>
        </div>

        <div class="navbar">
          <!-- NavBar (placed at the bottom of the header image) -->
          <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="/note">Notes</a></li>
            <li> <a href="/about" >About</a></li>
          </ul>
        </div>
      </header>

      <div class="content">

        {{{ body }}}

      </div>

      <div class="footer"> 
        <a href='https://www.github.com/ErikEkstedt'>
          <img src="/icons/github.svg" style="width: 100px">
        </a>
      </div>

    </div>
  </body>
</html>
