* { box-sizing: border-box; }

body { 
    margin: auto; 
    max-width: 2000px;
}

.grid-body{
	width: 80%;
	margin: auto;
    display: grid;
    grid-template:
        "header"
        "content"
        "footer";
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
    /* grid-auto-rows: minmax(100px, auto); */
    /* padding: 10px; */
}

#fullHeader {
    width: 100%;
    height: 400px;
    background-image: url('/images/universe.jpg');
    background-size: cover;
    background-color: #111;
    text-align: center;
    display: grid;
    grid-template-columns: auto 400px auto;
    grid-template-rows: 1fr 1fr 1fr 50px;
}

#header-text{
	grid-column: 2/3;
	grid-row: 2/3;
	padding: 4px;
	background: rgba(0,0,0,0.6);
	border: lightgrey solid;
	border-width: 1px;
    text-decoration: none;
	/* -webkit-filter: blur(5px); */
	/* -moz-filter: blur(5px); */
	/* -o-filter: blur(5px); */
	/* -ms-filter: blur(5px); */
	/* filter: blur(5px); */
}
#header-name{
	padding: 1px;
	margin: 4px;
	font-size: 28px;
    color: #FFF;
    font-weight: bold;
    font-family: verdana;
}
#header-subtitle{
	padding: 1px;
	margin: 2px;
	font-size: 20;
    color: #FFF;
    font-family: verdana;
}
#header-subsubtitle{
	padding: 1px;
	margin: 0;
	font-size: 14;
    color: #FFF;
    font-family: verdana;
}

#global-menu-button{
	background:rgba(33, 34,63,0.6);
	color:white;
	font-size:30px;
	cursor:pointer;
	float:left;
	width:40px;
	border-radius: 5px;
}
#global-menu-button {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: left;
    padding: 5px;
    margin: 5px;
}

.navbar {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}
.navbar a{
    display: inline;
	margin: 10px 10px 0px 0px;
    padding: 8px;
    border-radius: 3px;
    /* background-color: rgba(200,204,247,0.7); */
	background: rgba(0,0,0,0.6);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

	color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: verdana;
}
.navbar a:hover{
	background: rgba(164,252,224,0.54);
    text-decoration: none;
    color: #FFF;
    font-family: verdana;
}
.navbar .dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
	background: rgba(164,252,224,0.54);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 2px;
    margin: 0;
    text-decoration: none;
    display: block;
    text-align: left;
	border-radius: 0;
	/* text-size: 20px; */
	/* background: rgba(16,47,41,0.78); */
	background: black; 
	color: white;
}
.dropdown-content a:hover {
	color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
	background: rgba(164,252,224,0.8);
}


.content {
    grid-area: content;
	width: 100%;
	/* min-height: 500px; */
	margin: auto;
}

.footer {
    background: #666;
    grid-area: footer;
    text-align: center;
    margin: 0;
}
