<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Blog: About</title>
	<link rel="stylesheet" href="styles/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
	<div class="header">
	  <img src="images/Erik.jpg" class="profile-pic"/>
	  <div class="blog-info">
		<h1 class="blog-name"><a href="/">Erik Ekstedt</a></h1>
		<p class="blog-description">I am interested in AI and minds</p>
	  </div>
	</div>

	<div class="topnav">
	  <a href="/">Home</a>
	  <a href="/about">About</a>
	</div>
  </body>
</html>
