extends layout

block headscripts
    script(src="/scripts/generic.js")

block content
  div(class="menu")
    ul
      each file, fname in menuItems
        li: a(class='menuButton' id=mainTitle+'/'+fname data=file)= fname

  div(class="main") 
    include vim
