<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Blog</title>

	<link rel="stylesheet" href="styles/style.css" type="text/css" media="screen" title="no title" charset="utf-8">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script> 
	  $(function(){
		$("#header").load("header.html"); 
		$("#footer").load("footer.html"); 
	  });
	</script> 

  </head>
  <body>
	<div id="header"></div>

	<div class="row">
	  <div class="leftcolumn">
		<div class="card">
		  <h1>WorldTree</h1>
		  <h5>Explanation and Knowledge graphs</h5>
		  <img src="images/worldtree.png" style="width: 100%"/>
		  <p>Look at that tree!</p>
		</div>
	  </div>
	  <div class="rightcolumn">
		<div class="card">
		  <h2>About Me</h2>
		  <img src="images/Erik.jpg"/>
		  <p>Hellloooo!</p>
		</div>
		<div class="card">
		  <h3>Popular Post</h3>
		  <div class="fakeimg"><p>Image</p></div>
		  <div class="fakeimg"><p>Image</p></div>
		  <div class="fakeimg"><p>Image</p></div>
		</div>
	  </div>
	</div>

  
	<div id="footer"></div>

  </body>

</html>
