<head>
  <link rel='stylesheet' href='/styles/gridindex.css'> 
</head>

<div class="index-container">  
  <div class="grid-blog">
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
    <div class="card">note<br>Card</div>
  </div>

  <div class="grid-interesting"> 
    <div class="card">Youtube<br> clips<br> with<br> some<br> notes</div>
    <div class="card">Youtube<br> clips<br> with<br> some<br> notes</div>
    <div class="card">Youtube<br> clips<br> with<br> some<br> notes</div>
    <div class="card">Youtube<br> clips<br> with<br> some<br> notes</div>
    <div class="card">Youtube<br> clips<br> with<br> some<br> notes</div>
    <div class="card">Youtube<br> clips<br> with<br> some<br> notes</div>
    <div class="card">Youtube<br> clips<br> with<br> some<br> notes</div>
    <div class="card">Youtube<br> clips<br> with<br> some<br> notes</div>
  </div>
</div>

