extends layout

block headscripts 
  script(src="/scripts/index.js")

block styles
  link(rel='stylesheet', href='/styles/index.css')

block content
  div(class='row')
    div(class='leftcolumn')
      div(class='card')
        h1 This is Ugly...
        a(href="/note") Read more

    div(class='rightcolumn')
      div(class='card about')
        h2(class="about") About me
        img(src="images/Erik.jpg" class="about")
        p Hellloooo!
