doctype html
html
	head
		title= title
		link(rel='stylesheet', href='styles/style.css')
	body
		div(class='header')
			div(class='blog-info')
				h1(class='blog-name') Erik Ekstedt
				p(class='blog-description') I am interested in AI and minds
			div(class='topnav')
				a(href="/") Home
				a(href="/note") Notes
				a(href="/workflow") Workflow
				a(href="/papers") Papers
				a(href="/books") Books
				a(style="float:right" href="/about") About
		div(class='content')
			block content
		div(class='footer')
			a(href='https://www.github.com/ErikEkstedt'): img(src="icons/github.svg" style="width: 100px")
