doctype html
html
  head
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    link(rel='stylesheet', href='/styles/style.css')
    block headscripts
    block styles
  body
    div(class='header')
      div(class='blog-info')
        h1(class='blog-name'): a(href="/") Erik Ekstedt
        p(class='blog-description') I am interested in AI and minds
      ul(class='topnav')
        li: a(href="/") Home
        li(class="dropdown") 
          a(class=dropbtn) Notes
          div(class="dropdown-content")
            a(href="/note") Notes 
            a(href="/workflow") Workflow
            a(href="/vim") Vim
        li: a(href="/papers") Papers
        li: a(href="/books") Books
        li(style="float:right"): a(href="/about") About

    div(class='content')
      block content

    div(class='footer')
      a(href='https://www.github.com/ErikEkstedt'): img(src="/icons/github.svg" style="width: 100px")
