<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/styles/gridstyle.css'> 
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <img class="image" src="/images/universe.jpg" alt="universe">

        <!-- Blog title -->
        <div class="header-text">
          <h1 class="">Erik </h1>
          <h5 class="" style="white-space:nowrap">Ekstedt</h5>
          <h3 class="">PhD Candidate at KTH</h3>
        </div>
  
        <!-- NavBar (placed at the bottom of the header image) -->
          <div class="navbar">
            <ul>
              <li> <a href="/">Home</a></li>
              <li> <a href="/note">Notes</a></li>
              <li> <a href="/about">About</a></li>
            </ul>
          </div>

      </header>

      <div class="content"> 
        <!-- 
        Grid container for different content in 
        index, notes, fancy words, books
        -->
        <h1>Page Content</h1> 
      </div>

      <div class="footer"> 
        <a href='https://www.github.com/ErikEkstedt'>
          <img src="/icons/github.svg" style="width: 100px">
      </div>
    </div>


    </body>
  </html>
