<head>
  <link rel='stylesheet' href='/styles/gridnotes.css'> 
  <script src="/scripts/notes.js"></script>
</head>

<body>
  <div class="sidenav" id="menu">
    <ul>
      <li><a class="test-item">TEST</a> </li>
      {{#each data}}
        <li><a class="menu-item" href={{this}} >{{@key}}</a> </li>
      {{/each}}
    </ul>
  </div>
  <div class="main" id="main"> {{{article}}}</div>

</body>
