<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Blog: Notes</title>
	<link rel="stylesheet" href="styles/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="styles/note-style.css" type="text/css" media="screen" title="no title" charset="utf-8">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script  src="scripts/all-pages.js" type="text/javascript"> </script>
  </head>
  <body>
	<div id="header"></div>

	<div class="content">



	  <ul id="scribbles"> </ul>
	  <script src="scripts/notes.js"></script>
	  <input type='button' onclick='changeText2()' value='Submit' />


	</div>


	<div id="footer"></div>
  </body>
</html>
