<head>
  <link rel='stylesheet' href='/styles/gridnotes.css'> 
</head>

<div class="notes-container">  
  <div class="sidenav">
    <ul>
      <li><a href='/'> Home</a></li>
      <li><a href='/note'> Notes</a></li>
      <li><a href='/about'>about</a></li>
    </ul>
  </div>

  <div class="main"> 
    <div> Main article</div>
  </div>
</div>

