<!DOCTYPE html>
<html>
  <title>Posts</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <style> body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif} </style>
  <body cltss="w3-light-grey">
	<!-- Header -->
	<header class="w3-container w3-center w3-padding-32"> 
	  <h1><b>Posts</b></h1>
	</header>
	<!-- Posts -->
	<div class="w3-card w3-margin">
	  <div class="w3-container w3-padding">
		<h4>Posts</h4>
	  </div>
	  <nav>
		<a href="/phd"> phd</a></a>
	  <a href="/posts"> posts</a></a>
	  </nav>
	</div>
	<!-- Footer -->
	<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
	  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
	  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
	  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
	</footer>
  </body>
</html>
