<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Blog: About</title>
	<link rel="stylesheet" href="styles/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="styles/workflow.css" type="text/css" media="screen" title="no title" charset="utf-8">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script> 
	  $(function(){
		$("#header").load("header.html"); 
		$("#footer").load("footer.html"); 
	  });
	</script> 
  </head>
  <body>
	<div id="header"></div>

	<div class="intro">
	  <h1>Workflow</h1> 
	  <h2>Inspiration: Trello</h2>
	  <p> Workflow has become a word of large importance both in a
		professional way but also for
		pleasure. Workflow is everything. What do you do during a day? Thats your workflow.
		Workflow is a nice concept because it is what you want to design/produce/understand,
		the reason why to design/produce/understand <strong>and</strong> the tool to
		design/produce/understand.</p> 
	  <img src="images/workflow_trello_blog.png" alt=""/>
	</div>

	<div class="intro goal">
	  <h1> Goal:</h1>
	  <ol>
		<li>Explain the purpose of all windows(containers/doms?)</li>
		<li>Explain their purpose for "reaching the goal"</li>
		<li>Define "reaching the goal" (RTG)</li>
	  </ol>
	</div>

	<div class="inspiration">
	  <h2> Trello </h2>
	  <ul>
		<li> Important for structure and disciplin</li>*
		<li>* Record of progress</li>*
		<li>* Vim-keys ?</li>*
	  </ul>
	</div>

	<div class="idea" id="1">
	  <h2> RTG( phd, learning ) </h2>
	  <ul>
	  <li> learn concepts fast</li>
	  <li> learn which concepts are more important to focus on</li>
	  </ul>

	  <h2>RTG(enjoyment, creativity, relaxation)</h2>

	  <ul>
		<li>  Music</li>
		<li>  **Good** sound, speakers</li>
		<li>  Programming </li>
		<li> Gaming</li>
	  </ul>
	</div>

	<div class="idea" id="0">
	  <h2>Idea - Checkpoint</h2> 
	  <p>The image in the Intro class: </p>
	  <ul>
		<li>Make it a video</li>
		<li>Dynamic representation of what one wishes to accomplish</li>
		<li>Visualize your goals</li>
		<li>Write code to automate it</li>
		<li>Store data along the way</li>
		<li>Coding ideas and their relation</li>
	  </ul>
	  <ul>
		<li> tools: [style.css](/style.css) </li>
	  </ul>
	</div>

	<div id="footer"></div>
  </body>
</html>
