extends layout

block styles
	link(rel='stylesheet', href='/styles/workflow.css')

block content
	div(class="row")
		div(class="intro")
			h1 Workflow
			p Workflow has become a word of large importance both in a professional way but also for pleasure. Workflow is everything. What do you do during a day? Thats your workflow.  Workflow is a nice concept because it is what you want to design/produce/understand, the reason why to design/produce/understand <strong>and</strong> the tool to design/produce/understand.
			img(src="images/workflow_latest.png" style="width: 50%")

			h1 Why?
			ul
				li Important for structure and disciplin
				li Record of progress
				li Make the process of learning leave tracks such that
				the concepts learned are easy to explain
	div(class="row")

		div(class="card left")

		div(class="card mid")
			h1 How? 
			ol 
				li: a(href='/workflow/vim') Vim
				li Blog
				li Surface - drawings 

		div(class="card right" id="0")
			h1 When? 
			p When there is time


	div(class="row")

		div(class="card" id="0")
			h1 Idea - Checkpoint
			p The image in the Intro class:
			ul
				li Make a video
				li Dynamic representation of what one wishes to accomplish
				li Visualize your goals
				li Write code to automate it
				li Store data along the way
				li Coding ideas and their relation

		div(class="idea" id="1")
		h1 Reaching The Goal
		h2 RTG(phd, learning) 
		ul
			li learn concepts fast
			li learn which concepts are more important to focus on
		h2 RTG(enjoyment, creativity, relaxation)
		ul
			li Music
			li <strong>Good  </strong>sound, speakers
			li Programming 
			li Gaming

