/* ---------------------------------------------- */

* {
    box-sizing: border-box;
}

html {
    font-family: Arial;
    padding: 10px 20px;
    background: #f1f1f1;
    height: 100%;
    margin: auto;
    max-width: 1500px;
}


blockquote {
    font-style: italic;
    background-color: #F6F8FA;
}

pre code {
    background-color: #F6F8FA;
    border: 1px solid #99a;
    display: block;
    padding: 20px;
}

h1 {
    text-align: center;
}

p {
    text-align: left;
}

/* img { */
/*     max-height: 300px; */
/*     max-width: 80%; */
/*     display: block; */
/*     padding: 0 10%; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/* } */

.image {
    padding: 0 10%;
    margin-left: auto;
    margin-right: auto;
}
