
/* Note content window as grid */
/* .notes-menu { */
/*     /1* Small screens *1/ */
/*     display: grid; */
/*     grid-template-columns: 1fr; */
/*     grid-template: */
/*         "sidenav" */
/*         "main"; */
/*     grid-gap: 20px; */
/*     background-color: #111; */
/*     padding: 10px; */
/* } */

/* @media (min-width: 500px) { */
/*     /1* Large screens *1/ */
/*     .notes-menu { */
/*         grid-template: */
/*             "cards about"; */
/*         grid-template-columns: minmax(200px, 400px) auto; */
/*     } */
/* } */


.main {
    background: white;
    padding: 20px;
    max-height: 1000px;
    text-align: center;
    overflow: auto;
    float: left;
    width: 75%;
}


.sidenav {
    background: black;
    height: 1500px;
    float: left;
    width: 10%;
    /* -webkit-transition: width 1s;/1* For Safari 3.1 to 6.0 *1/ */
    /* transition-timing-function: ease-in; */
    /* transition: width 0.5s; */
}

.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
}

.sidenav li {
    display: block;
    padding: 8px;
    margin: 0;
    border-radius: 3px;
    margin-bottom: 7px;
    background-color: #111;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
}



 /* MAIN */
.main blockquote{
    font-style: italic;
    color: gray;
}

.main h1{
    text-align:center
}

.main ul{
    list-style-type: none;
    padding: 0;
}

.main li{
    text-decoration: none;
    padding: 8px;
    margin: 0;
}


.main li a{
    background: black;
    color: white;
}

.main li a:hover{
    background: blue;
}

.main a{
    padding: 4px;
    background: #111;
    color: white;
    border-radius: 5px;
}

.main a:hover{
    padding: 4px;
    background: blue;
    color: white;
}
