* { box-sizing: border-box; }

body { 
    margin: auto; 
    max-width: 2000px;
}

.grid-body{
    display: grid;
    grid-template:
        "header"
        "content"
        "footer";
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    /* grid-auto-rows: minmax(100px, auto); */
    /* padding: 10px; */
}

/* */
.header {
    width: 100%;
    height: 400px;
    background-image: url('/images/universe.jpg');
    background-size: cover;
    background-color: #111;
    text-align: center;
    display: grid;
    grid-template-columns: auto 400px auto;
    grid-template-rows: 1fr 1fr 1fr 50px;
}

.header-text{
    grid-column: 2/3;
    grid-row: 2/3;
    color: white;
    font-size: 18px;
    padding: 8px;
    border: lightgrey solid;
    border-width: 1px;
}

.navbar {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 100%;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
}

.navbar li {
    display: inline;
    padding: 8px;
    border-radius: 3px;
    /* background-color: #33b5e5; */
    background-color: black;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar li:hover {
    background-color: #0099cc;
}

li a{
    text-decoration: none;
    color: #ddd;
    font-family: verdana;
}
.content {
    grid-area: content;
}

.footer {
    background: #333;
    grid-area: footer;
    text-align: center;
    margin: 0;
}
