
.content {
    display: flex;
    width: 100%;
}


.sidenav {
    background: black;
    float: left;
    overflow-x: hidden;
    width: 20%;
    height: 100%;
}

.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
}

.sidenav li {
    display: block;
    padding: 8px;
    margin: 0;
    border-radius: 3px;
    margin-bottom: 7px;
    background-color: #111;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
}

.sidenav li:hover {
    background-color: #333;
    cursor: pointer;
}

 /* MAIN */
.main {
    background: white;
    text-align: center;
    overflow: auto;
    float: left;
    padding: 100px;
    width: 75%;
    height: 100%;
    text-align: left;
}

.main blockquote{
    font-style: italic;
    color: gray;
}

.main pre{
    border-radius: 3px;
    background: #A8EDC4;
}

.main code{
    border-radius: 3px;
    background: #A8EDC4;
}

.main h1{
    text-align:center
}

.main ul{
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0 10%;
    padding-left: 30px;
    border: lightgray 1px solid;
}

.main li{
    text-decoration: none;
    padding: 8px;
    margin: 0;
}

.main li ul{
    text-decoration: none;
    border: none;
    margin: 0;
}

.main li a{
    text-align:left;
    border-radius: 5px;
    padding: 4px;
    background: black;
    color: white;
}

.main li a:hover{
    background: blue;
}

.main a{
    border-radius: 5px;
    background: #dde;
    color: black;
}

.main a:hover{
    padding: 4px;
    background: blue;
    color: white;
}
