.content {
    display: flex;
    width: 100%;
}

/* Sidenav */
/* Sidenav */
/* Sidenav */
/* Sidenav */
/* Sidenav */
.sidenav {
    background: black;
    float: left;
    overflow-x: hidden;
    width: 400px;
    height: 100%;
}

.sidenav .visible {
    background: white;
    float: left;
    overflow-x: hidden;
    width: 20%;
    height: 100%;
}

.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
}
.sidenav li {
    display: block;
    padding: 8px;
    margin: 0;
    border-radius: 3px;
    margin-bottom: 7px;
    background-color: #111;
    color: #aaa;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
}
.sidenav li:hover {
    background-color: #333;
    cursor: pointer;
}

.sidenav li a{
    color: #ddd;
    cursor: pointer;
}

/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
.main {
    background: white;
    overflow: auto;
    float: left;
    padding: 100px;
    width: 75%;
    height: 100%;
    text-align: left;
}
.main .article-image{
    display: block;
    width:90%;
    margin:auto;
}
.main blockquote{
    font-style: italic;
    color: gray;
}
.main figcaption{
    font-style: italic;
    color: #555;
}
.main pre{
    border-radius: 3px;
    background: #A8EDC4;
}
.main code{
    border-radius: 3px;
    background: #A8EDC4;
}
.main h1{
    text-align:center
}
.main ol{
    font-weight: bold;
    font-size: 110%;
}
.main ul{
    /* list-style-type: none; */
    padding: 0;
    text-align: left;
    margin: 0 10%;
    padding-left: 20px;
    width: 70%
    border: lightgray 1px solid;
}
.main li{
    text-decoration: none;
    padding: 8px;
    margin: 0;
}
.main li ul{
    text-decoration: none;
    border: none;
    margin: 0;
}
.main li a{
    text-align:left;
    border-radius: 5px;
    padding: 2px;
    background: ;rgba(135,171,175,0.62)
    color: white;
}
.main li a:hover{
    background: rgba(89,186,172,0.69);
}
.main a{
    border-radius: 5px;
    background: #dde;
    color: black;
}
.main a:hover{
    padding: 4px;
    background: blue;
    color: white;
}

/* MISC */
/* MISC */
/* MISC */
/* MISC */
/* MISC */
.card {
    border: 1px solid;
    width: 600px;
    display: float;
    float:left;
    padding: 20px;
    background: rgba(18,83,88,0.64);
}
.right-column{
    width:75;
    float:left;
}
.left-column{
    width:25;
    float:left;
}
.glossary {
    /* background-color: rgba(225,147,74,0.79); */
    background-color: rgba(2,184,184,0.61);
    border: 1px solid;padding:20px;
    padding: 10px;
    width: 500px;

}
