.leftcolumn {   
	float: left;
	width: 75%;
	height: 100%;
	padding-right: 10px;
}

/* Right column */
.rightcolumn {
	float: left;
	width: 25%;
	height: 100%;
	padding-left: 10px;
}

.profile-pic {
	margin: 5px 0px; 
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.profile:after {
	content: "";
	display: table;
	clear: both;
}


.about {
	cursor: pointer;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	border-radius: 5px;
}

.button:hover {
	background-color: #2C8F30;
}
