/* ---------------------------------------------- */

* {
	box-sizing: border-box;
}

html {
	font-family: Arial;
	padding: 10px 20px;
	background: #f1f1f1;
	height: 100%;
	margin: auto;
	max-width: 1500px;
}

body {
	font-family: Arial;
	padding: 10px 20px;
	background: #ddd;
}

h1 {
	text-align: center;
}

p {
	text-align: left;
}

img {
    max-height: 300px;
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

