/*.post */
/*.post */
/*.post */
.post {
    overflow: auto;
    padding: 100px;
    margin: auto;
    width: 75%;
    height: 100%;
    text-align: left;
}

.post .article-image{
    display: block;
    width:90%;
    margin:auto;
}
.post blockquote{
    font-style: italic;
    color: gray;
}
.post figcaption{
    font-style: italic;
    color: #555;
}
.post pre{
    border-radius: 3px;
    background: #A8EDC4;
    width: 600px;
}
.post code{
    border-radius: 3px;
    background: #A8EDC4;
}
.post h1{
    font-size: 70px;
    text-decoration: underline;
    text-align:center
}
.post ol{
    font-weight: bold;
    font-size: 110%;
}
.post ul{
    /* list-style-type: none; */
    padding: 0;
    text-align: left;
    margin: 0 10%;
    padding-left: 20px;
    width: 70%
    border: lightgray 1px solid;
}
.post li{
    text-decoration: none;
    padding: 8px;
    margin: 0;
}
.post li ul{
    text-decoration: none;
    border: none;
    margin: 0;
}
.post li a{
    text-align:left;
    border-radius: 5px;
    padding: 2px;
    background: ;rgba(135,171,175,0.62)
    color: white;
}
.post li a:hover{
    background: rgba(89,186,172,0.69);
}
.post a{
    border-radius: 5px;
    background: #dde;
    color: black;
}
.post a:hover{
    padding: 4px;
    background: blue;
    color: white;
}

/* .post table{ */
/* 	color: black; */
/* } */

/* MISC */
.paper-pdf {
	background: rgba(102,196,233,0.56);
	margin: 50px;
}

.card {
    border: 1px solid;
    width: 600px;
    display: float;
    float:left;
    padding: 20px;
    background: rgba(18,83,88,0.64);
}

.right-column{
    width:75;
    float:left;
}
.left-column{
    width:25;
    float:left;
}
.glossary {
    /* background-color: rgba(225,147,74,0.79); */
    background-color: rgba(2,184,184,0.61);
    border: 1px solid;padding:20px;
    padding: 10px;
    width: 500px;

}
