* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
	/* font: 20px "Lucida Grande", Helvetica, Arial, sans-serif; */
    padding: 10px;
    background: #f1f1f1;
	max-width: 1500px;
	margin: auto;
}

/* ---------------------------------------------- */
.header{
    background: white;
    text-align: center;
    /* padding: 30px; */
	height: 120px;
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.topnav {
		overflow: hidden;
		background-color: #333;
		width: 100%;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
}

.topnav a {
	float: left;
	display: block-inline;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	border-right: 1px solid #bbb;
}

.topnav a:last-child {
	border-right: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* ---------------------------------------------- */
.content {
	max-width: 1000px; 
	margin-left: auto;
    margin-right: auto;
}

.leftcolumn {   
    float: left;
    width: 75%;
    padding-right: 10px;
	max-width: 750px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 10px;
	max-width: 250px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
}


.profile-pic {
	margin: 5px 0px; 
	width: 100px;
	height: 100px;
    border-radius: 50%;
}

.profile:after {
    content: "";
    display: table;
    clear: both;
}

.blog-info {
	/* float: center; */
	margin: 10px 0;
	/* display: inline-block; */

	@include mobile {
		float: none;
		display: block;
		margin: 0 auto;
	}
}

.blog-name {
	/* background: #F77; */
	padding: 30px 0 0 0;
	color: #BBB;
	cursor: pointer;
	/* display: inline; */
}

.blog-description {
	/* background: #555; */
	margin: -5px 0;
	color: gray;
	/* display: inline; */
}


img {
  max-width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
	max-width: 1000px;
}

.about {
	cursor: pointer;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	border-radius: 5px;
}

.button:hover {
    background-color: #2C8F30;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

.footer{
    /* background: #f1f1f1; */
	margin: 100px 0;
    text-align: center;
    /* padding: 30px; */
	/* height: 120px; */
	/* width: 100%; */
}
