
.intro {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.intro.goal {
    background-color: #EAEAEA;
}

.idea {
    background-color: #EAEAEA;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.inspiration {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
}
